<h3 class="text-center mgb-med" id="sign-title">Sign into Your Account</h3>
<div class="login">
  <form class="login__form mgb-med" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <label for="email" class="login__label">Email Address</label>
    <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <span class="input-group__icon material-icons">email</span>
      <input id="email" type="text" formControlName="email" class="input-group__input" />
    </div>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div id="email-error" *ngIf="f.email.errors.required">E-mail is required</div>
    </div>

    <div class="mgt-small"></div>
    
    <label for="password" class="login__label">Password</label>
    <div class="input-group" [ngClass]="{'is-invalid': submitted && f.password.errors}">
      <span class="input-group__icon material-icons">vpn_key</span>
      <input type="password" class="input-group__input" id="password" formControlName="password" />
    </div>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div id="password-error" *ngIf="f.password.errors.required">Password is required</div>
    </div>

    <div class="mgt-small"></div>

    <button id="login-btn" class="btn btn-primary btn-block" [disabled]="loading">Log In</button>
    <div id="error-msg" *ngIf="error" class="alert alert-error">{{error}}</div>
  </form>
  
  <div class="fbox-align-center orloginwith mgb-small">Or login with</div>
  <div class="login__social-buttons mgb-small">
    <a class="social-login-link" href={{OAuthURLS.google}}>
      <img src="/assets/images/google-logo.png" alt="Google" height="50px" /> 
    </a>
    <a class="social-login-link" href={{OAuthURLS.facebook}}>
      <img src="/assets/images/fb-logo.png" alt="Facebook" height="50px" /> 
    </a>
    <a class="social-login-link" href={{OAuthURLS.github}}>
      <img src="/assets/images/github-logo.png" alt="github" height="50px" /> 
    </a>
  </div>
  
  <a id="register-link" routerLink="/auth/register" class="fbox-align-center bold">Don't have an account? Register Here</a>
  
  <a id="recover-link" routerLink="/auth/forgot" class="fbox-align-center bold">Recover Password</a>
</div>
