@import "../../../variables";

.auth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.auth-component {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  @media screen and (min-width: 768px) {
    padding: 1rem 3rem;
    flex-basis: 40%;
  }
}

.welcome {
  background-color: $color-primary-dark;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;

  @media screen and (min-width: 768px) {
    padding: 1rem 3rem;
    flex-basis: 60%;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
  }

  &__text {
    width: 70%;
    margin: 0 auto;
  }
}

.logo {
  &__img {
    align-self: center;
  }

  &__header {
    font-size: 2.5rem;
    align-self: center;
  }
}
