<div class="auth">
  <div class="auth-component">
    <img src="/assets/images/logo.png" alt="logo" class="logo__img" height="60px" />
    <h1 class="logo__header">Maple CRM</h1>
    <router-outlet></router-outlet>
  </div>

  <div class="welcome">
    <h1> Welcome to</h1>
    <h1 class="welcome__heading">Maple CRM</h1>
    <br />
    <span class="welcome__text">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type</span>
  </div>
</div>
