// COLOR VARIABLES
$color-primary: #C40C0C;
$color-primary-dark: darken($color-primary,10);
$color-primary-light: lighten($color-primary,10);
$color-secondary: #596169;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-display: "Rubik", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
