/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/ng2-slim-loading-bar/style.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:400, 700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300, 400, 500, 700");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: #111;
  line-height: 1.6;
  background-color: #f3f6f8;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-display;
}

h5{
  font-size: 15px;
}

.mgb-small { margin-bottom: 1rem; }
.mgb-med { margin-bottom: 2rem; }
.mgb-big { margin-bottom: 3rem; }
.mgt-small { margin-top: 1rem; }
.mgt-med { margin-top: 2rem; }
.mgt-big { margin-top: 3rem; }

.btn {
  font-weight: bolder;
  padding: .6rem 1.4rem;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
}

.btn-secondary {
  background-color: $color-secondary;
  color: #fff;
}
.btn-primary[disabled]{
  background-color: lighten($color-primary,30);
}

.btn-block {
    width: 100%;
}

.fbox-align-center {
  align-self: center;
}
.text-right{
  text-align: right
}
.text-center {
  text-align: center;
}
.text-muted {
  color:#aaa;
}
.text-semi-muted {
  color:#888;
}
.text-white{
  color: white;
}
.text-red{
  color: $color-primary;
}
.text-xs{
  font-size: 10px;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
}

.twitter {
  background-color: #00aced;
  color: #fff;
}
.google {
  background-color: #dd4b39;
  color: #fff;
}

.input-group {
  display: flex;
  font-size: 1rem;

  &__icon {
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 10%;
    background-color: #ddd;
  }

  &__input {
    height: 45px;
    line-height: 45px;
    width: 90%;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
  }
}

.alert {
  padding: 5px 10px;
  border-radius: 2px;
  margin: 10px 0px;
}
.alert-error {
  background-color: #f37f70;
  border: 1px solid #974136;
}

.invalid-feedback{
  color: $color-primary-light;
}

.is-invalid {
  border: 1px solid $color-primary-light
}

.wrap {
  display: flex;
}

.content-page {
  width: 100%;
  margin: 30px 30px 5px 30px;
  border: 1px solid inherit;
}

.green {
  background-color: rgb(73, 158, 73);
}
.violet {
  background-color: rgb(131, 73, 158);
}
.indigo {
  background-color: rgb(73, 99, 158);
}

.label {
  padding: 5px;
  border-radius: 2px;
}

.panel {
  background-color: white;
  padding: 15px 15px;
}

.show {
  display: block;
  opacity: 1;
  transition: all .3s;
}

.hide {
  display: none;
  opacity: 0;
  transition: all .3s;
}

.icon-small > svg {
  height: 20px;
  width: 20px;
}


// SIMPLE GRID //
.grid {
  display: flex;
  margin: 0 0 20px 0;
}
.grid .col {
  flex: 1;
}
.grid-4, .grid-3, .grid-2 {
  display: flex;
  justify-content: space-between;
}
.grid-2 .col {
  width: 49%;
}
.grid-3 .col {
  width: 32%;
}
.grid-4 .col {
  width: 24%;
}
@media (max-width: 900px) {
  .grid,
  .grid-2,
  .grid-3,
  .grid-4 {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

/** FORM STYLES **/
.form {
  label {
    display: block;
    font-weight: bold;
    color: #777;
  }
  input, select, textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    font-size: 14px;
    background-color: inherit;
  }
  button,a {
    margin: 0px 5px;
  }
  .date-input{
    width: inherit;
  }
}
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 2px solid rgba(255, 0, 0, 0.31);
  outline: none;
}

.input-error-msg {
  color: $color-primary;
}

.mat-simple-snackbar-action{ 
  color:#fff
}
.success-msg {
  background-color: #7cdd5f;
  color: #000;
}
.error-msg {
  background-color: #ff6464;
  color: #000;

}


/* TABLE STYLES */
.table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.table > tbody {
  font-size: 15px;
}

.table > thead > tr > th {
  border-top: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom: 2px solid rgba(100, 100, 100, 0.2);
  padding: 5px 0px;
}

.table > tbody > tr > td {
  padding: 10px 2px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.table-hover-striped tbody tr:hover {
  background-color: rgba(150,150,150,.1);
}



.table input[type="checkbox"] {
  width: 30px;
  height: 30px;
}