<h3 class="text-center mgb-med">Sign into Your Account</h3>
<div class="login">
  <form class="login__form mgb-med" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <label for="email" class="login__label">Email Address</label>
    <div class="input-group mgb-small">
      <span class="input-group__icon fontawesome-envelope"></span>
      <input type="text" formControlName="email" class="input-group__input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail is required</div>
      </div>
    </div>
    
    <label for="password" class="login__label">Password</label>
    <div class="input-group mgb-small">
      <span class="input-group__icon fontawesome-key"></span>
      <input type="password" class="input-group__input" id="password" formControlName="password" [ngClass]="{'is-invalid': submitted && f.password.errors}" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    
    <div class="login__form--options mgb-small">
      <label for="remember" class="form-label">
        <input type="checkbox" class="form-control" id="remember" /> Remember me
      </label>
      <a routerLink="/auth/forgot">Forgot Password</a>
    </div>
    <button class="btn btn-primary btn-block" [disabled]="loading">Log In</button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </form>
  
  <div class="fbox-align-center orloginwith mgb-small">Or login with</div>
  <div class="login__social-buttons mgb-small">
    <a class="social-login-link" href={{googleAuthUrl}}>
      <img src="/assets/images/google-logo.png" alt="Google" height="50px" /> 
    </a>
    <a class="social-login-link" href={{facebookAuthUrl}}>
      <img src="/assets/images/fb-logo.png" alt="Facebook" height="50px" /> 
    </a>
    <a class="social-login-link" href={{githubAuthUrl}}>
      <img src="/assets/images/github-logo.png" alt="github" height="50px" /> 
    </a>
  </div>
  
  <a routerLink="/auth/register" class="fbox-align-center bold">Don't have an account? Register Here</a>
</div>
