.login-container {
  display: flex;
  height: 100vh;
}

.login {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    font-size: 2.5rem;
  }

  &__heading {
    font-size: 1.3rem;
  }

  &__form {
    width: 75%;
    &--options {
      display: flex;
      justify-content: space-between;
    }
  }

  &__label {
    display: block;
  }

  &__social-buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    color: red;
  }
}

.input-group {
  display: flex;
  font-size: 1rem;

  &__icon {
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 10%;
    background-color: #ddd
  }

  &__input {
    height: 45px;
    line-height: 45px;
    width: 90%;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
  }
}



.facebook {
  background-color: #3b5998;
  color: #fff;
}

.twitter {
  background-color: #00aced;
  color: #fff;
}
.google {
  background-color: #dd4b39;
  color: #fff;
}

.welcome {
  flex-basis: 65%;
  background-color: #50a1fc;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__heading {
    font-size: 4rem;
    font-weight: 100;
  }

  &__text {
    width: 70%;
    margin: 0 auto;
  }
}
