<div class="account-overview panel white">
  <h4>ACCOUNT OVERVIEW</h4>
  <br />

  <div class="stats">
    <div class="stat">
      <div class="stat__info">
        <span class="stat__title text-semi-muted">Monthly Sales</span>
        <h2 class="stat__number">
{{account.monthlySalesCurrent | currency : '$' : 'symbol' : '1.0' }}
        </h2>
      </div>
      <div class="stat__chart">
        <canvas
          baseChart
          height="70px"
          width="100%"
          [legend]="false"
          [data]="[account.monthlySalesCurrent, account.monthlySalesCurrent*.5]"
          [labels]="doughnutChartLabels"
          [options]="options"
          [colors]="colors"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>
    </div>

    <div class="stat">
      <div class="stat__info">
        <span class="stat__title text-semi-muted">Quarterly Sales</span>
        <h2 class="stat__number">
{{account.quarterlySalesCurrent | currency : '$' : 'symbol' : '1.0' }}
        </h2>
      </div>
      <div class="stat__chart">
        <canvas
          baseChart
          height="70px"
          width="100%"
          [legend]="false"
          [data]="[account.quarterlySalesCurrent, account.quarterlySalesCurrent*.7]"
          [labels]="doughnutChartLabels"
          [options]="options"
          [colors]="colors"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>
    </div>

    <div class="stat">
      <div class="stat__info">
        <span class="stat__title text-semi-muted">Monthly Customers</span>
        <h2 class="stat__number">{{account.monthlyCustomersCurrent}}</h2>
      </div>
      <div class="stat__chart">
        <canvas
          baseChart
          height="70px"
          width="100%"
          [legend]="false"
          [data]="[account.monthlyCustomersCurrent, account.monthlyCustomersCurrent*3]"
          [labels]="doughnutChartLabels"
          [options]="options"
          [colors]="colors"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>
    </div>

    <div class="stat">
      <div class="stat__info">
        <span class="stat__title text-semi-muted">Quarterly Customers</span>
        <h2 class="stat__number">{{account.quarterlyCustomersCurrent}}</h2>
      </div>
      <div class="stat__chart">
        <canvas
          baseChart
          height="70px"
          width="100%"
          [legend]="false"
          [data]="[account.quarterlyCustomersCurrent, account.quarterlyCustomersCurrent*2]"
          [labels]="doughnutChartLabels"
          [options]="options"
          [colors]="colors"
          [chartType]="doughnutChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
