<h3 class="text-center mgb-med" id="register-title">Register new Account</h3>
<div class="register">
  <form class="login__form mgb-med" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <label for="name" class="login__label">Full Name</label>
    <div class="input-group" [ngClass]="{'is-invalid': submitted && f.name.errors}">
      <span class="input-group__icon material-icons">perm_identity</span>
      <input formControlName="name" type="text" id="name" class="input-group__input" />
    </div>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>

    <div class="mgt-small"></div>

    <label for="email" class=" login__label">Email Address</label>
    <div class="input-group" [ngClass]="{'is-invalid': submitted && f.email.errors}">
      <span class="input-group__icon material-icons">email</span>
      <input formControlName="email" type="text" id="email" class="input-group__input" />
    </div>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
    
    <div class="mgt-small"></div>

    <label for="password" class="login__label">Password</label>
    <div class="input-group" [ngClass]="{'is-invalid': submitted && f.password.errors}">
        <span class="input-group__icon material-icons">vpn_key</span>
      <input formControlName="password" type="password" id="password" class="input-group__input" />
    </div>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>

    <div class="mgt-small"></div>

    <button id="register-btn" class="btn btn-primary btn-block" [disabled]="loading">Register</button>
    <div *ngIf="error" class="alert alert-error">{{error}}</div>
  </form>
  <div class="register__links">
    <a id="login-link" routerLink="/auth/login">Go to Login page</a>
    <a routerLink="/auth/forgot">Recover Password</a>
  </div>
</div>