<h3 class="text-center mgb-med">Recover Your Password</h3>
<div class="register">
  <form class="login__form mgb-med">
    <label for="email" class="login__label">Email Address</label>
    <div class="input-group mgb-small">
      <span class="input-group__icon material-icons">email</span>
      <input
        type="text"
        class="input-group__input"
        id="email"
        value="victor.rumanski@gmail.com"
      />
    </div>
    <button class="btn btn-primary btn-block">Send Recover Link</button>
  </form>
  <div class="forgot__links">
    <a routerLink="/auth/login">Go to Login page</a>
    <a routerLink="/auth/register">Register</a>
  </div>
</div>
